# SPDX-FileCopyrightText: NOI Techpark <digital@noi.bz.it>
#
# SPDX-License-Identifier: CC0-1.0

customers_overview:
  query_parameters:
    query: "<QUERY_STRING>"
    fields: "<FIELDS>"

  markdown_text:
    additional_info: |
      ___
      **Insert any custom information here**.
      ___

help_overview:
  query_parameters:
    query: "<QUERY_STRING>"
    fields: "<FIELDS>"

  markdown_text:
    additional_info: |
      ___
      **Insert any custom information here**.
      ___
